@import "fonts.css";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #22356f;
  font-family: "Larsseit", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #ffffff;
  height: auto;
  /* overflow-x: hidden; */
}

:focus {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  color: #00a4e5;
  background: #f5f8fd;
  border: 2px solid #00a4e5;
}

.width__site {
  /* max-width: 1440px; */
  width: 100%;
  height: 100%;
  margin: auto;
}

/*header*/
.header__color {
  background-color: #f4f9e2;
  width: 100%;
  height: 100%;
}

.header {
  background: url("../img/bg-header.jpg") no-repeat center/cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

.wrapper {
  max-width: 1140px;
  width: 100%;
  margin: auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

.logo__img {
  width: 102px;
  height: 18px;
}

.header__list {
  width: 235px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  font-size: 14px;
  line-height: 16px;
  color: #22356f;
}

.nav__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: transparent;
  margin-top: 5px;
}

.nav__item--active::after,
.nav__item:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #22356f;
  margin-top: 5px;
}

.header__btn {
  /* width: 150px;
  height: 50px; */
  background: #62d0df;
  border-radius: 50px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  padding: 15px 40px;
  text-transform: uppercase;
}

.header__center {
  max-width: 470px;
  width: 100%;
  padding: 80px 0;
}

.header__name {
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.035em;
  color: #62d0df;
  margin-bottom: 30px;
}

.header__title {
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.035em;
  color: #22356f;
  margin-bottom: 30px;
}

.header__text {
  font-size: 24px;
  line-height: 42px;
  color: #22356f;
  margin-bottom: 30px;
}

.header__btn--orange {
  color: #ffffff;
  padding: 15px 40px;
  background-color: #f9b640;
  text-transform: uppercase;
}

.header__btn--white {
  color: #f9b640;
  padding: 15px 40px;
  background-color: transparent;
  text-transform: uppercase;
}

.header__btn--orange:hover,
.header__btn--white:hover {
  color: #f9b640;
  background-color: transparent;
  border-color: #f9b640;
}

/* 
.header__btn--white:hover {
  color: #ffffff;
  background-color: #f9b640;
  border-color: #f9b640;
} */

/*thrive*/
.thrive__color {
  background-color: #62d0df;
}

.section__thrive {
  background: url("../img/bg-section_n.jpg") no-repeat center/cover;
  /* width: 525px; */
  /* height: 604px; */
  color: #ffffff;
}

.thrive__block {
  max-width: 555px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-height: 602px; */
  padding: 95px 0;
}

.thrive__title {
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: -0.006em;
  margin-bottom: 75px;
}

.thrive__text {
  font-size: 24px;
  line-height: 35px;
}

/*about*/
.section__about {
  padding: 100px 0;
}

.about__block {
  max-width: 820px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.about__title {
  font-family: "Larsseit", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.about__text {
  max-width: 590px;
  width: 100%;
  font-family: "Larsseit-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0.005em;
}

.about__title--center {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
  text-transform: uppercase;
  margin: 30px 0;
}

.about__help {
  display: flex;
}

.about__item {
  width: 25%;
  height: 360px;
  padding: 50px;
  background: url("../img/mask.png") no-repeat center center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
}

.about__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 360px;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.5s;
}

.about__help:nth-child(1)::after {
  background: #ffe2de;
  opacity: 1;
}

.about__help:nth-child(2)::after {
  background: #c4e769;
  opacity: 1;
}

.about__help:nth-child(3)::after {
  background: #62d0df;
  opacity: 1;
}

.about__help:nth-child(4)::after {
  background: #0052c1;
  opacity: 1;
}

.about__item:hover.about__help:nth-child(n)::after {
  opacity: 0;
}

.card__name {
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 34px;
  letter-spacing: -0.006em;
  color: #ffffff;
  position: relative;
  padding-left: 20px;
  z-index: 100;
}

.card__name::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #e9b730;
  position: absolute;
  left: 0;
  top: 46px;
}

.card__name::before {
  content: "";
  display: inline-block;
  width: 108%;
  height: 2px;
  background-color: #ffffff;
  margin-left: -20px;
  margin-bottom: 20px;
}

/*health*/
.health__block {
  display: flex;
  flex-wrap: wrap;
}

/* .health__item {
  width: 480px;
  height: 480px;
  padding: 50px;
  overflow: hidden;
  transition: background 0.5s;
}
 */
.health__item {
  width: 33.33%;
  height: 480px;
  padding: 50px;
  background: url("../img/mask.png") no-repeat center center;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  background-size: cover;
}

.health__item::after {
  content: "";
  display: block;
  width: 100%;
  height: 480px;
  position: absolute;
  top: 0;
  right: 0;
  transition: opacity 0.5s;
}
/* 
.health__item:hover {
  background: url("../img/mask.png") no-repeat center;
} */

.health__help:nth-child(1)::after {
  background: #22356f;
  opacity: 1;
}

.health__help:nth-child(2)::after {
  background: #0052c1;
  opacity: 1;
}

.health__help:nth-child(3)::after {
  background: #76b58b;
  opacity: 1;
}

.health__help:nth-child(4)::after {
  background: #62d0df;
  opacity: 1;
}

.health__help:nth-child(5)::after {
  background: #dee1ff;
  opacity: 1;
}

.health__help:nth-child(6)::after {
  background: #8f00ff;
  opacity: 1;
}

.health__item:hover.health__help:nth-child(n)::after {
  opacity: 0;
}

/**/
.section__plans {
  background: #eefdff;
}

.wrapper__plans {
  max-width: 1440px;
}

.plans__block {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  justify-content: space-around;
}

.plans__item {
  width: 480px;
  height: 240px;
  padding: 50px 90px;
}

.plans__title {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: -0.03em;
  margin-bottom: 30px;
}

.plans__text {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

/*know*/
.section__know {
  background: url("../img/bg-section1_n.jpg") no-repeat center/cover;
  width: 100%;
  /* width: 525px; */
  /* height: 800px; */
}

.know__width {
  display: flex;
  justify-content: flex-end;
}

.know__block {
  max-width: 675px;
  width: 100%;
  padding: 150px 0;
}

.know__title {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 120px;
}

.know__text {
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: -0.01em;
  margin-bottom: 50px;
}

.know__text a {
  color: #62d0df;
}

.know__btn {
  font-size: 16px;
  line-height: 23px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #fab63e;
  text-transform: uppercase;
  border: 2px solid transparent;
  padding: 10px;
}

.know__btn:hover {
  background-color: transparent;
  color: #fab63e;
  border-color: #fab63e;
  /* text-decoration: underline; */
  padding: 10px;
}

/*contact*/
.section__contact {
  background: #22356f url("../img/bg-section2_n.jpg") no-repeat center/cover;
  /* width: 525px; */
  padding: 150px 0;
  color: #ffffff;
}

.contact__block {
  max-width: 580px;
  width: 100%;
}

.contact__title {
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 150px;
}

.contact__name {
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 94px;
  letter-spacing: -0.01em;
  margin-bottom: 50px;
}

.contact__text {
  font-size: 36px;
  line-height: 53px;
  letter-spacing: -0.005em;
  margin-bottom: 50px;
}

.contact__btn {
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.1em;
  color: #62d0df;
  text-transform: uppercase;
}

.contact__btn:hover {
  background-color: transparent;
  color: #62d0df;
  border-color: transparent;
  text-decoration: underline;
}

/*footer*/
.footer__top {
  background: url("../img/bg-footer_n.jpg") no-repeat center/cover;
  /* width: 525px; */
  background-color: #ffffff;
  /* height: 380px; */
  display: flex;
  justify-content: flex-end;
  padding: 50px 0;
}

/* .footer__img {
  max-width: 570px;
  width: 100%;
} */

.footer__block {
  max-width: 765px;
  width: 100%;
  /* margin: auto; */
  padding: 80px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  max-width: 171px;
  width: 100%;
}

.footer__title {
  margin-bottom: 25px;
}

.footer__item p,
.footer__item a,
.footer__address {
  line-height: 23px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.footer__address {
  font-style: normal;
  margin-bottom: 20px;
}
.footer__link {
  display: inline-block;
}

.footer__item a.footer__link--mailto {
  color: #006dff;
  line-height: 23px;
  letter-spacing: -0.006em;
}

.footer__copy {
  background-color: #62d0df;
  color: #ffffff;
  padding: 30px 0;
  font-family: "Larsseit-Bold", sans-serif;
  font-size: 14px;
  line-height: 11px;
  letter-spacing: -0.006em;
}

/*media*/
@media (max-width: 1440px) {
  .about__help,
  .health__block {
    flex-wrap: wrap;
    /* max-width: 1000px; */
    /* width: 100%; */
    margin: auto;
    justify-content: space-around;
  }

  .plans__item {
    width: 400px;
    height: auto;
    justify-content: space-around;
    padding: 50px;
  }
}

@media (max-width: 1200px) {
  .header__nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header__center,
  .thrive__block,
  .about__title,
  .contact__block {
    padding-left: 20px;
  }

  .footer__block {
    max-width: 500px;
    padding: 0;
    flex-wrap: wrap;
    margin-right: 5%;
  }
  
  .footer__copy {
    text-align: center;
  }
}

@media (max-width: 992px) {
  .about__help {
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
    justify-content: space-around;
  }

  .about__item, .health__item {
    width: 50%;
    margin-bottom: 20px;
  }

  .know__block {
    max-width: 500px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header__center,
  .thrive__block {
    margin: auto;
  }

  .header {
    background: #f4f9e2;
  }

  .section__thrive {
    background: #62d0df;
  }

  .section__about {
    padding: 75px 0;
  }

  .about__item, .health__item {
    width: 90%;
  }

  .about__block {
    flex-direction: column;
    align-items: center;
  }

  .about__title {
    padding-left: 0;
  }

  .about__text {
    font-size: 16px;
    line-height: 25px;
    padding: 20px;
  }

  .section__know, .footer__top {
    background: #ffffff;
  }

  .know__block {
    margin: auto;
  }

  .plans__item {
    width: 400px;
    padding: 20px;
  }

  .section__contact {
    background: #22356f;
  }

  .contact__block {
    margin: auto;
  }

  .footer__top {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .header__nav {
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .header__logo {
    order: 0;
  }

  .header__nav-list {
    order: 2;
    padding-top: 20px;
  }

  .header__btn {
    order: 1;
    padding: 10px 30px;
  }

  .header__center {
    padding: 40px 20px;
  }

  .header__title {
    font-size: 35px;
  }

  .header__text {
    font-size: 20px;
    line-height: 30px;
  }

  .thrive__block {
    padding: 50px 20px;
  }

  .thrive__title {
    margin-bottom: 30px;
  }

  .thrive__text {
    font-size: 20px;
    line-height: 30px;
  }

  .about__item,
  .about__item::after,
  .health__item {
    /* width: 300px;*/
    min-height: 300px; 
  }

  .know__block, .section__contact, .footer__top {
    padding: 50px 20px;
  }

  .know__title, .contact__title {
    margin-bottom: 50px;
  }

  .know__text, .contact__text {
    font-size: 25px;
    line-height: 35px;
  }

  .contact__name {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .footer__top {
    max-width: 350px;
  }

  .footer__title {
    margin-top: 20px;
    margin-bottom: 10px;
  }

}
